DJANGO_SECRET_KEY=changeme-in-prod
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=kvantorium
POSTGRES_USER=kv_user
POSTGRES_PASSWORD=kv_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

MEDIA_STORAGE_MODE=local
EMAIL_BACKEND_SETTINGS=console
